/* Dark Theme */
* {
    BG:    #2a2a2aff;
    BGA:   #FFDBCCFF;
    FG:    #ffffffff;
    FGA:   #000000ff;
    BDR:   #FDE0D9ff;
    SEL:   #000000ff;
    UGT:   #ef4444ff;
    IMG:   #FDE0D9ff;
    OFF:   #666666ff;
    ON:    #00ff00ff;
    BG-A:  #FDE0D9CC;
}
