/* Windblown Theme - Auto-extracted colors */
* {
    BG:    #24304Eff;
    BGA:   #9E796Bff;
    FG:    #ffffffff;
    FGA:   #ffffffff;
    BDR:   #384566ff;
    SEL:   #0F151Fff;
    UGT:   #594C5Eff;
    IMG:   #9E796Bff;
    OFF:   #666666ff;
    ON:    #00ff00ff;
    BG-A:  #313244;
}
